<p id="notice"><%= notice %></p>

<center>
<p>
  <h2>Category:
  <%= @category.name %></h2>
</p>
<h3> Products under this category </h3>
<% Product.where(category_id: @category.id).each do |product| %>

    <% cache product do %>
       <div class="entry">
         <%= link_to image_tag(product.image.url, {:border => "0", :title => "Push it into cart!"}),
                      line_items_path(:product_id => product), {:method => :post} %>
          <h3><%= link_to product.title, product_path(product.id) %></h3>
          <%= sanitize(product.description) %>
          <div class="price_line">
              <span class="price">
              <% if product.price == 0 %>
            Free </span>
            
              <% else %> 
              <%= number_to_currency(product.price) %></span>
              <% end %>
               <% if product.price != 0 %>
              <%= button_to 'Add to Cart', line_items_path(product_id: product), remote: true,:class => 'login' , :id => 'addcart'%><%end%>
              <% if (product.pdf.present?) %>
               <%= link_to "Download PDF", product.pdf.url, :class => 'login' %>
                            
               <% end %>

          </div>
        </div>
    <% end %>
</br>
    <% end %>
</br></br>
</center>